:global(*){
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-family: "Roboto Light", serif;
}

:global(*, *::before, *::after) {
    box-sizing: border-box;
}

:global body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #E5E5E5;
}

:global input{
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0;
    padding: 5px 5px;
}

:global li{
    list-style-type: none;
}

:global button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

:global h1{
    margin: 5px 0;
}

:global p{
    margin: 5px 0;
}

/*=====================================*/

:global .container{
    padding: 10px 10px;
}

:global .post-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black 1px solid;
    padding: 5px 15px;
    margin: 15px 150px;
}

:global .post-item h1{
    font-weight: bold;
}

:global .delete-btn{
    height: 30px;
    width: 100px;
    margin-left: 50px;
    border: black solid 1px;
}

:global .addPostForm{
    display: flex;
}

:global .addPostForm input{
    border: black 1px solid;
}

:global .myModalContent{
    background: black;
}

:global .redButton{
    background: red;
}
